@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,700&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400px;
    margin: 0;
    background-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    widows: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: #f4f4f4;
    border-radius: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.container:nth-child(1) {
    padding-top: 125px;
}

.container:nth-child(2) {
    justify-content: flex-start;
    height: 100vh;
}

.title {
    font-weight: 600;
}

.mb {
    padding: 0;
    margin-bottom: 44px;
}

.container .bg-w {
    background-image: url(../MFaisal00359.github.io/img/other/erik-skof-w5Gojn26eUk-unsplash.webp);
    position: absolute;
    width: 100%;
    height: 355px;
    top: 0;
    border-bottom: 1px solid rgba(184, 184, 184, 0.332);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: -50;
    transition: 0.5s;
}

.container .My-foto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 44px;
}

.My-foto img {
    background-repeat: no-repeat;
    border-radius: 100%;
}

.text-1 {
    text-align: center;
    /* width: 770px; */
    width: 600px;
    border-radius: 12px;
    background-color: #ffffff;
    border: 1px solid rgba(184, 184, 184, 0.332);
}

.text-1>p {
    display: inline-block;
    white-space: normal;
    margin: 0;
    padding: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;
    height: fit-content;
    /* or 29px */
    text-align: center;
    letter-spacing: 0.025em;
    color: #181818;
}

.social {
    display: flex;
    justify-content: space-between;
    width: 352px;
    height: 64px;
}

.social>span {
    display: inline-block;
    text-align: center;
    gap: 32px;
    min-width: 4rem;
    min-height: 4rem;
    border-radius: 100%;
    background-color: #ffffff;
    border: 1px solid rgba(184, 184, 184, 0.45);
}

.social span a {
    position: relative;
    display: inline-block;
    height: 32px;
    top: 26%;
    bottom: 72.39%;
    border-radius: 100%;
    transition: 0.5s;
}

.social span:hover {
    background: linear-gradient(133.98deg, #6C60FF 12.72%, #60FFFF 100.25%);
    border: hidden;
}

.social span a:hover {
    transform: scale(130%) rotate(20deg);
    transition: 0.2s;
    background: var(--clr);
}

.social span a img:hover {
    filter: invert(1);
}

.foto-2 {
    width: 96px;
    height: 96px;
    background-repeat: no-repeat;
    border-radius: 100%;
}

.container .title {
    display: flex;
    padding-top: 44px;
    gap: 44px;
}

.title {
    font-size: 1.5rem;
}


/* .title::before {
    content: url(../../img/shape/Line.svg);
}

.title::after {
    content: url(../../img/shape/Line.svg);
} */

.work {
    margin: 20px auto;
    columns: 3;
    column-gap: 20px;
    /* display: flex;
    justify-content: center;
    align-items: flex-start;
    align-self: flex-start; 
    gap: 24px;
    flex-wrap: wrap;*/
}

.card {
    position: relative;
    width: 400px;
    margin-bottom: 20px;
    line-height: 100px;
    border-radius: 8px;
    border: 1px solid rgba(184, 184, 184, 0.45);
    background-color: #ffffff;
    overflow: hidden;
}

.card:hover {
    box-shadow: 0px 22px 24px -6px rgba(56, 23, 255, 0.09);
    border-color: #6C60FF;
    transition: 0.4s;
}

.img-card-wrap {
    height: 200px;
    border-bottom: 1px solid rgba(184, 184, 184, 0.45);
    overflow: hidden;
}

.card .img-card-wrap>img {
    width: 101%;
    background-size: 100%;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.4s;
}

.card .img-card-wrap>img:hover {
    transform: scale(1.1) rotate(2deg);
    background-size: 100%;
    transition: all 0.6s;
}

.card .tag {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0;
    padding: 0 16px;
    height: 32px;
    line-height: 32px;
    text-align: left;
}

.card .tag .button {
    cursor: pointer;
    color: #2e5fff;
    text-align: center;
    text-decoration: none;
    font-family: inherit;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    transition: all 10s;
}

.card .tag .button:hover {
    color: #ffffff;
}

.card>p {
    margin: 16px 0 16px 0;
    padding: 0 16px 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;
    height: fit-content;
    /* or 29px */
    text-align: left;
    letter-spacing: 0.025em;
    color: #181818;
}